* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #000000, #0f9d58);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main Card */
.container {
  background: #111;
  padding: 25px 30px;
  width: 340px;
  border-radius: 14px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
  animation: fadeIn 0.6s ease;
  border: 1px solid #1db954;
}

/* Heading */
.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1db954;
}

/* Password Field */
#password {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #1db954;
  margin-bottom: 15px;
  text-align: center;
  background-color: #000;
  color: #1db954;
}

/* Options Card */
.options {
  background: #000;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid #1db954;
}

.options label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 8px;
  color: #e6e6e6;
}

.options input[type="number"] {
  width: 60px;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid #1db954;
  background: #111;
  color: #1db954;
}

/* Checkbox accent */
input[type="checkbox"] {
  accent-color: #1db954;
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Generate Button */
button:nth-of-type(1) {
  background: #1db954;
  color: #000;
}

button:nth-of-type(1):hover {
  background: #17a44a;
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(29, 185, 84, 0.6);
}

/* Copy Button */
button:nth-of-type(2) {
  background: #000;
  color: #1db954;
  border: 1px solid #1db954;
}

button:nth-of-type(2):hover {
  background: #1db954;
  color: #000;
  transform: scale(1.03);
}

#copyMsg {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #1d54b9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}





